body {
    background-image: url("background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #f5f5f5;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.out {
    display: none;
}

#table_for_calendar {
    margin: 10px auto;
}

#table_for_calendar :hover {
    color: white;
    background-color: #87b3cb;
    border: 1px solid #FEFE3A;
    transition: 0.5s;
}


#table_for_calendar td {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    background-color: #FEFE3A;
    color: #000;
    font-size: bold;
}

#table_for_calendar thead th {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    font-size: larger;
    font-style: italic;
    font-weight: bolder;
    background-color: #000;
    color: #fff;
}

#thirddiv {
    margin: 0% 8% 0% 5%;
    width: 90%;
}

#heading {
    text-align: center;
    color: black;
    background-color: #4CAF50;
    padding: 5px;
}

#heading th {
    border: 1px solid black;
    color: white;
    font-size: medium !important;
    border-radius: 10px;
}
input,
.firstbtn,
#calendar,#prayer_times,
#Audio_Ayat,
#Audio_Surah,
select {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: #FEFE3A;
    color: black;
}

#calendar,#prayer_times,
#Audio_Ayat,
#Audio_Surah
 {
    margin: 10px auto;
}

#calendar:hover,#prayer_times:hover,
#Audio_Ayat:hover,
#Audio_Surah:hover,
input:hover:hover,
select:hover {
    color: white;
    background-color: #87b3cb;
    border: 1px solid #FEFE3A;
    transition: 0.5s;
}

.flex2 p:hover,.surah_flex p:hover,
#surahtext >audio:hover,
#surahtext >p:hover,
#surahtext >div:hover,
#text:hover,
#show-audio>audio:hover {
    color: white;
    background-color: #87b3cb;
    transition: 0.5s;
}h1{
    color: white;
}

.flex {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    width: 50%;
    border-radius: 10px;
    justify-content: space-evenly;
}

.flex :hover {
    color: white;
    background-color: rgb(136, 134, 134);
    border: 1px solid #FEFE3A;
    transition: 0.5s;
}

.flex p {
    background-color: #FEFE3A;
    width: 120px;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}

.flex2 ,.surah_flex {
    width: 50%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: space-evenly;
}

.flex2>p,.surah_flex>p {
    background-color: #FEFE3A;
    width: 150px;
    margin-right: 2%;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

#text {
    width: 50%;
    margin: 10px auto;
    padding: 20px;
    color: black;
    font-size: x-large;
    border-radius: 10px;
    background-color: #FEFE3A;
}

#show-audio>audio {
    color: #FEFE3A;
    border: 2px solid black;
    background-color: #FEFE3A;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
}

#main_surah {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px auto;

}
 #show-audio_surah{
    width: 50%;
    margin: 10px auto;
}#surahtext{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}#surahtext >audio{
    color: black;
    margin-right: 5px;
    border-radius: 10px;
    padding: 2px;
    background-color: #FEFE3A; 
    width: 220px;
    height: 40px;
}#surahtext >p {
    margin-right: 5px;
    height: 40px;
    padding: 2px;
    border-radius: 10px;
    background-color: #FEFE3A;
    margin-top: 0px;
    width: 250px;
}#surahtext >div{
    height: 40px;
    border-radius: 10px;
    padding: 2px;
    background-color: #FEFE3A;
    width: 20px;
}